#RAG docs (.html files and .pdf converted files)
pdfdocs
htmldocs
jsondocs

#RAG database
chroma_db

#Pycache
src/embedding/__pycache__
src/embedding/chunkingLibs/__pycache__
src/plugin/__pycache__
src/plugin/prompts/__pycache__

#Test files
*_test.py

#Notes
notes