#RAG docs (.html files and .pdf converted files)
pdfdocs
htmldocs

#RAG database
chroma_db

#Pycache
src/embedding/__pycache__
src/embedding/chunkingLibs/__pycache__

#RAG test files
src/embedding/test.py

#Notes
notes