#RAG docs (.html files and .pdf converted files)
pdfdocs
htmldocs
jsondocs

#Pycache
**/__pycache__/

#Test files
*_test.py

#Notes
notes

#Personal config
src/config.json

#Pytest
.pytest_cache
.coverage

.vscode